appdirs==1.4.4
attrs==19.3.0
autopep8==1.5.4
black==19.10b0
click==7.1.2
entrypoints==0.3
flake8==3.8.3
flake8-import-order==0.18.1
greenlet==0.4.16
isort==5.3.2
jedi==0.17.2
mccabe==0.6.1
msgpack==1.0.0
neovim-remote==2.4.0
parso==0.7.1
pathspec==0.8.0
pkg-resources==0.0.0
pluggy==0.13.1
psutil==5.7.2
pycodestyle==2.6.0
pyflakes==2.2.0
pynvim==0.4.1
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
regex==2020.7.14
toml==0.10.1
typed-ast==1.4.1
ujson==1.35
