appdirs==1.4.4
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
black==19.10b0
click==7.1.2
decorator==4.4.2
entrypoints==0.3
flake8==3.8.3
flake8-import-order==0.18.1
greenlet==0.4.17
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.4
jedi==0.17.2
jsonschema==3.2.0
jupyter-core==4.6.3
jupytext==1.6.0
markdown-it-py==0.5.5
mccabe==0.6.1
msgpack==1.0.0
nbformat==5.0.7
neovim-remote==2.4.0
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
psutil==5.7.2
ptyprocess==0.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.1
pynvim==0.4.2
pyrsistent==0.17.3
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
PyYAML==5.3.1
regex==2020.9.27
six==1.15.0
toml==0.10.1
traitlets==5.0.4
typed-ast==1.4.1
ujson==3.2.0
wcwidth==0.2.5
